$grid-columns: 12;

// base layout classes
.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

// coloumn classes

@include md {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-md {
      box-sizing: border-box;
      flex-grow: 0;
      width: #{($i * 100 / $grid-columns)}rem;
    }
  }
}

@include lg {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-lg {
      box-sizing: border-box;
      flex-grow: 0;
      width: #{($i * 100 / $grid-columns)}rem;
    }
  }
}

@include xl {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-sm {
      box-sizing: border-box;
      flex-grow: 0;
      width: #{($i * 100 / $grid-columns)}rem;
    }
  }
}
